# DEFAULT, make the ignore become include, the starting / is important
/*

# IGNORE, for secure reason
/.ssh/
/.hgrc
/.mitmproxy/
/.subversion/
/.smbcredentials

# INCLUDE: config files
!/.vimrc
!/.netrc
!/.rvmrc
!/.cshrc
!/.npmrc
!/.xvimrc
!/.bashrc
!/.curlrc
!/.XWinrc
!/.inputrc
!/.percol.d
!/.bashvimrc
!/.xinitrc.linux
!/.xprofile
!/.screenrc
!/.gtkrc-2.0
!/.xmodmaprc
!/.vrapperrc
!/.tmux.conf
!/.gitignore
!/.gitignore_global
!/.dir_colors
!/.bashrc.me.*
!/.xbindkeysrc
!/.startxwinrc
!/.bash_profile
!/.gitattributes
!/.config/ghorg/conf.yaml

# INCLUDE: DIR: with exception (secure reason)
!/.myenv/
!/.myenv/*
/.myenv/myenv_secu.sh

# INCLUDE: DIR: need 2 line for each dir
!/.fonts/
!/.fonts/*
!/.screenlayout/
!/.screenlayout/*
!/.xbindkeysrc.d
!/.xbindkeysrc.d/*
!/.vim/
!/.vim/coc-settings.json
/.vim/pack/*
/.vim/bundle/*
/.vim/autoload/*
#!/.vim/*
#!/vimfiles/
#!/vimfiles/*

# iterm config need exclude, other files need sync
!/.iterm2/
!/.iterm2/backup/*
!/.iterm2/README.txt

# INCLUDE: DIR: not all files inside
!/.pip/
!/.pip/*.conf
/.pip/*.log
!/.w3m/
!/.w3m/*
/.w3m/cookie
/.w3m/history

# IGNORE, since really not needed OR generate on install
.fzf.zsh
.fzf.bash
.DS_Store
.dl_me.txt
.fl_me.txt
.grep_me.txt
.fl_files.txt
.grep_result.txt
bash.exe.stackdump
gVim.exe.stackdump

# IGNORE, for secure reason, 
# NOTE: dir below .myenv MUST after the 2 lines of "!/.myenv/" and "!/.myenv/*
/.myenv/zgen/
/.myenv/secu/
/.myenv/dist/
/.vim/.netrwhist
/.vim/autoload/pathogen.vim
/.gitconfig
/.gitconfig.dw
/.gitconfig.me
/.unison/


# Deprecated: old unison config to include *.prf files
## UNISON: (?) should deprecated since might contain IP for backup
#!/.unison/
#/.unison/*
#!/.unison/*.prf
#!/.unison/deprecated

############################################################
# Deprecated
############################################################
#
# Deprecated since no more software config in conf
#/.myenv/conf/autokey/autokey.log
#/.myenv/conf/autokey/autokey.pid
#/.myenv/conf/autokey/autokey.json~
#/.myenv/conf/doublecmd/cmdhistory.txt
#/.myenv/conf/doublecmd/dirhistory.txt
#/.myenv/conf/doublecmd/searchhistory.txt
#/.myenv/conf/doublecmd/replacehistory.txt
#
# Deprecated since might contain mailbox password, or other sensitive info
#!/.msmtprc
#!/.muttrc
#!/.getmail/
#
# Deprecated since become useless
#!/.backupMyenv.sh
#!/.backupMyenv.bat
#!/.restoreMyenv.sh
#!/.restoreMyenv.bat
