# make the ignore become include, the starting / is important
/*

# DIR, need 2 line for one dir
!/.vim/
!/.vim/*
!/.fonts/
!/.fonts/*
!/.myenv/
!/.myenv/*
!/vimfiles/
!/vimfiles/*

# FILE
!/.vimrc
!/.netrc
!/.cshrc
!/.bashrc
!/.muttrc
!/.msmtprc
!/.inputrc
!/.screenrc
!/.tmux.conf
!/.gitignore
!/.dir_colors
!/.bash_profile
!/.gitattributes
!/.backupMyenv.sh
!/.backupMyenv.bat
!/.restoreMyenv.sh
!/.restoreMyenv.bat

# IGNORE, for secure reason
#/.subversion/
#/.ssh/
/.myenv/secu/
/.myenv/secure/

# IGNORE, for those really not needed, or for secure reason
/.myenv/.fl_files.txt
/.myenv/.grep_result.txt
/.myenv/gVim.exe.stackdump
/.myenv/bash.exe.stackdump
/.vim/.netrwhist
/.myenv/zgen/

# IGNORE, to deprecate
/.myenv/gen_log/
/.myenv/gen_lu_sh/
/.myenv/gen_lu_csh/
/.myenv/gen_win_alias/
