# DEFAULT, make the ignore become include, the starting / is important
/*

# INCLUDE, DIR, need 2 line for one dir
!/.vim/
!/.vim/*
!/.fonts/
!/.fonts/*
!/.myenv/
!/.myenv/*
!/vimfiles/
!/vimfiles/*

# INCLUDE, only some file in sub dir
!/.unison/
/.unison/*
!/.unison/*.prf
!/.unison/deprecated
!/.w3m/
!/.w3m/*
/.w3m/history

# INCLUDE, FILE
!/.vimrc
!/.netrc
!/.rvmrc
!/.cshrc
!/.bashrc
!/.curlrc
!/.muttrc
!/.XWinrc
!/.msmtprc
!/.inputrc
!/.screenrc
!/.vrapperrc
!/.tmux.conf
!/.gitignore
!/.dir_colors
!/.startxwinrc
!/.bash_profile
!/.gitattributes
!/.backupMyenv.sh
!/.backupMyenv.bat
!/.restoreMyenv.sh
!/.restoreMyenv.bat

# IGNORE, for secure reason
#/.subversion/
#/.ssh/
/.myenv/secu/
/.myenv/secu_*/
/.myenv/secure/
/.myenv/secure_*/

# IGNORE, for those really not needed, or for secure reason
.fl_files.txt
.grep_result.txt
.dl_me.txt
.fl_me.txt
.grep_me.txt
bash.exe.stackdump
gVim.exe.stackdump
/.myenv/zgen/
/.vim/.netrwhist
/.vim/autoload/pathogen.vim
/.myenv/conf/autokey/autokey.log
/.myenv/conf/autokey/autokey.pid
/.myenv/conf/autokey/autokey.json~
/.myenv/conf/doublecmd/cmdhistory.txt
/.myenv/conf/doublecmd/dirhistory.txt
/.myenv/conf/doublecmd/searchhistory.txt
/.myenv/conf/doublecmd/replacehistory.txt
