set completion-ignore-case on

set bell-style none			# never ring the bell
set bell-style visible			# use visual bell, if available
set show-all-if-ambiguous on		# list all completions instead of ringing the bell
