# NOTE: use sh grammar, not bash!

# Settngs for fcitx input method 
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=xim
export GTK_IM_MODULE=xim

# For X env
[ -f $HOME/.myenv/zgen/lu_bash/envVarAll ] && . $HOME/.myenv/zgen/lu_bash/envVarAll

# NOTE: uncomment following line cause the x session start failed! why?
#[ -f $HOME/.myenv/zgen/lu_bash/envFuncAll ] && . $HOME/.myenv/zgen/lu_bash/envFuncAll
