[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=eclipse
Comment=eclipse
Exec=/home/ouyangzhu/dev/eclipse/eclipse
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

