[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=gvim
Comment=gvim
Exec=/home/ouyangzhu/program/vim/bin/gvim --servername SINGLE_VIM --remote-tab 
OnlyShowIn=XFCE;
MimeType=text/plain;
StartupNotify=false
Terminal=false
Hidden=false

